/*  add fonts */

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Book.otf');
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Bold.otf');
   font-weight: bold;
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Book_Oblique.otf');
   font-style: italic;
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Light.otf');
   font-weight: lighter;
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Light_Oblique.otf');
   font-weight: lighter;
   font-style: italic;
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Bold_Oblique.otf');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: Quicksand;
   src: url('fonts/Quicksand_Bold.otf');
   font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/*  end of add fonts */

/*[v-cloak] {display: none}*/

body {
  font-family: Quicksand;
  font-size: 1rem;
  line-height: 1.5;
  color: #09B5BF !important;
}

input {
  font-family: Quicksand;
}

header.front-end-header {
  padding-bottom: 150px;
}

footer.footer-bg {
  background-color: #59C9E7;
}

img.logo-setup {
  height: 100px;
}

/* font size */

/* card setup */


.ug-thumb-wrapper, .ug-thumb-overlay, .ug-thumb-wrapper .ug-thumb-overlay img{
  border-radius: .2rem;
}
.card-products {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100% !important;
  height: 200px !important;
  margin: 0 auto;
}

.card-block {
  min-height: 1px;
}

.card {
  display: none;
  border: 1px solid rgba(89, 201, 231, 0.6);
  border-radius: 1.5rem;
}

.progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-bar {
  height: 1rem;
  color: #fff;
  background-color: #09B5BF;
}

/* end of card */


/* end of font size */

/*  nav bar */

button:focus {outline:0;}

.navbar-bg{
  background-color: white;
  padding-top: 20px;
}

.navbar-bg ul {
  bottom: auto;
  border: 1px;
  text-align: right;
}

.dropdown-menu {
  border: 0px;
  text-align: right;
}

.navbar-toggler {
    border-color: rgb(9,181,191);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,181,191, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-bg ul li a, .dropdown-item{
  color: #09B5BF !important;
}

.navbar-bg ul li.active a{
  color: #09B5BF !important;
  font-weight: bold;
}

.navbar-bg ul li a:hover, .dropdown-item:hover{
  color: rgba(9, 181, 191,0.5) !important;
  background-color: inherit;
}

@media (min-width: 992px){
  .navbar-bg ul {
   bottom: 0px;
   background-color: white;
   padding-left: 10px;
   padding-right: 10px;
   position: absolute;
   right: 0px;
 }
}

.navbar-toggler {
    z-index: 1;
 }

@media (max-width: 576px) {
    nav > .container {
    	width: 100%;
    }
}

/*  end of nav bar */

.title {
  display: block;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

@media (max-width: 991px) {
  .title {
    font-size: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
}

.sub-title {
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 991px) {
  .sub-title {
    display: block;
    font-size: 1.17em;
    margin-left: 0;
    margin-right: 0;
  }
}

/*  button */

.center {
  margin: 0 auto;
}

.width-90 {
  width: 90%;
}

.btn-disable, .btn-disable:focus, .btn-disable:active, .btn-disable:hover{
  background-color: #CCC !important;
  border-color: #CCC !important;
  color: white !important;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
}

.btn-basic, .btn-basic:focus, .btn-basic:active {
  background-color: #09B5BF !important;
  border-color: #09B5BF !important;
  color: white !important;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
}

.btn-basic:hover {
  background-color: white !important;
	border-color: #09B5BF !important;
  color: #09B5BF !important;
  font-weight: bold;
}

.btn-blue, .btn-blue:focus, .btn-blue:active {
	  background-color: #09B5BF !important;
    border-color: #09B5BF !important;
    color: white !important;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-blue:hover {
	background-color: #058e96 !important;
	border-color: #058e96 !important;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-wh, .btn-wh:focus, .btn-wh:active {
	  background-color: rgba(255,255,255,0) !important;
    border-color: white !important;
    color: white !important;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

.btn-wh:hover {
	background-color: white !important;
	border-color: rgba(255,255,255,0) !important;
  color: rgba(50,50,50,.4) !important;
}

/*  end of button */

/* home page css */

div.img-bg-div {
  position: relative;
}

div.img-bg-div-inside {
  position: absolute;
  bottom: 70px;
  right: 20px;
  color: white;
}


.display-box {
  color: white;
  padding-right: 0px;
  padding-left: 0px;
}

.box-img{
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.left-box {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f04d30; /* Old browsers */
  background: -moz-linear-gradient(top, #f04d30 0%, #ef5ca1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f04d30 0%,#ef5ca1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f04d30 0%,#ef5ca1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04d30', endColorstr='#ef5ca1',GradientType=0 ); /* IE6-9 */
}

.right-box {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f6a3b3; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f6a3b3 25%, #f8ec0a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f6a3b3 25%,#f8ec0a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f6a3b3 25%,#f8ec0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a3b3', endColorstr='#f8ec0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* end of home page css */

/*  slider */

.slider-div {
  padding-bottom: 100px;
  color: #09B5BF;
}

.slider {
    width: 100%;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

/*  end of slider */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.padding-helper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.portfolio_block [class*='col-'] {
    padding: 0 5px;
}

figure.effect-oscar .tableDisplay, .related-projects .tableDisplay {
    display: table;
    height: 100%;
    width: 100%;
}

figure.effect-oscar .tablecell, .related-projects .tablecell {
    display: table-cell;
    vertical-align: middle;
}

.img-holder {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 500px !important;
  height: 500px !important;
  margin: 0 auto;
}

.img-blur {
  box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.3);
  border-radius: 1rem;
}

.row-products {
  padding: 0px 10px;
}

.hashtag, .hashtag:hover, .hashtag:focus, .hashtag:visited {
  background-color: rgba(0,0,0,.95);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  line-height: 28px;
  margin-top: 6px;
  padding: 0 10px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.hashtag-tri {
  border-color: transparent transparent rgba(0,0,0,.95);
  border-style: solid;
  border-width: 0 6px 6px;
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: -11px;
  width: 0;
}

.hashtag-text {
  position: relative;
}

.tag-input {
  width: 150px;
}

div.modal.fade.in {
    top: 35% !important;
}

.modal-body {
    max-height: 700px !important;
}

.wait-in-out{
  display: block;
}

.cm-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #09B5BF;
  margin-top: 10px;
}

.cm-box {
  overflow: hidden;
  height: 380px;
}

.scrollable {
  margin-top: 25px;
  height: 90%;
  overflow: auto;
}

div.textarea {
  border: 1px solid rgba(89, 201, 231, 0.6);
  border-radius: .5rem;
  height: 230px;
  outline: none;
  padding: 8px 10px;
  overflow: auto;
  -webkit-transition-property: box-shadow; /* Safari */
  -webkit-transition-duration: .5s; /* Safari */
  transition-property: box-shadow;
  transition-duration: .5s;
  font-size: 18px;
  font-style: italic;
  line-height: 1;
}

div.textarea:focus {
  box-shadow: 0 0 3px 3px rgba(89, 201, 231, 0.3);
}

@media (min-width: 1200px){
  .container {
    width: 1140px !important;
    max-width: 75% !important;
  }

  .img-holder {
    width: 500px !important;
    height: 500px !important;
  }

  .tag-input {
    width: 150px;
  }

  div.modal.fade.in {
    top: 35% !important;
  }

  .modal-body {
    max-height: 700px !important;
  }
}

@media (max-width: 991px){
 .img-holder {
   width: 500px !important;
   height: 500px !important;
 }

 .cm-box {
   overflow: hidden;
   height: 270px !important;
 }

 div.textarea {
   height: 130px;
 }

 .cm-icon {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background-color: #09B5BF;
   margin-top: 10px;
 }
}

@media (max-width: 767px){
  .img-holder {
    width: 420px !important;
    height: 420px !important
  }

  .tag-input {
    width: 90px;
  }

  div.modal.fade.in {
      top: 10% !important;
  }

  .modal-body {
      max-height: 600px !important;
  }
}

@media (max-width: 480px){
  .img-holder {
    width: 300px !important;
    height: 300px !important;
  }

  .tag-input {
    width: 80px;
  }

  div.modal.fade.in {
      top: 5% !important;
  }

  .modal-body {
      max-height: 500px !important;
  }
}
